<div class="form-group row">
  <div class="col-md-12">
    <img src="{{ recipe.imagePath }}" class="img-fluid" />
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    {{ recipe.name }}
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12 btn-group">
    <button href="#" class="btn btn-primary">To shoppong cart</button>
    &nbsp;
    <button href="#" class="btn btn-info">Edit</button>
    &nbsp;
    <button href="#" class="btn btn-danger">Delete</button>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    Ingredients
  </div>
</div>
