<p>Create servers</p>
<app-cockpit (serverCreated)="onServerAdded($event)"></app-cockpit>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item m-1"
          *ngFor="let server of servers, let i = index"
          (click)="onRemoveServer(i)"
          style=" cursor: pointer;">
        <app-server-element [element]="server">
          <p>*{{ server.type }}*= Server is {{ server.status }}</p>
          <hr />
          <p>{{ server.content }}</p>
        </app-server-element>
      </li>
    </ul>
  </div>
</div>
