<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="form-group row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="form-group row">
    <div class="col-md-12">
      <app-servers></app-servers>
    </div>
  </div>
</div>-->
<!--<div class="container m-3">
  <div class="">
    <h4 appBasicHighlight>Game with basic highlight</h4>
    <hr/>
    <h4 appBetterHighlight>Game with better highlight 1</h4>
    <hr/>
    <h4 appBetterHighlight [defaultColor]="'green'">Game with better highlight 2</h4>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <app-game-control (sequenceEmiter)="addSequence($event)" (resetGame)="onResetGame()"></app-game-control>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <p>Even numbers</p>
      <app-even *ngFor="let n of evenNumbers" [n]="n"></app-even>
    </div>
    <div class="col-md-6">
      <p>Odd numbers</p>
      <app-odd *ngFor="let n of oddNumbers" [n]="n"></app-odd>
    </div>
  </div>
</div>-->
